<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fuchi tiki taka</title>
    <link rel="stylesheet" href="/app.css">
    <link rel="icon" href="../public/imgs/icono.ico"" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="title"> Fuchi-Tiki-Taka</h1>
    </header>

    <div class="grid-container">
        <div class="grid-item logo-grid empty">
            <img class="fuchi-logo" src="../public/imgs/fuchi-tiki-taka-logo.png"/>
        </div>
        <% for (let i = 0; i < 3; i++) { %>
            <div class="grid-item team"><%= topTeams[i] %></div>
        <% } %>
        <% for (let i = 0; i < 3; i++) { %>
            <div class="grid-item team"><%= leftTeams[i] %></div>
            <% for (let j = 0; j < 3; j++) { %>
                <div class="grid-item player"><%= players[i * 3 + j] %></div>
            <% } %>
        <% } %>
    </div>

    <div class="search-bar-container">
        <input type="text" class="input-player" placeholder="Buscar jugador"></input>
    </div>

    <script src="../app.js"></script>
</body>
</html>