body {
    background-color: rgb(83, 83, 87);
    color:white;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    justify-content: center;
    height: 100vh;
    overflow: hidden; /* Deshabilitar desplazamiento (barra de scroll) */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 600px;
    overflow: auto; /* Habilitar desplazamiento interno si el contenido excede el tamaño */
}

.grid-item {
    border: 1px solid #ccc;
    padding: 20px;
    width: 100px;
    height: 55px;
    text-align: center;
}

.grid-item.empty {
    background-color: #ddd;
}

.team {
    font-size: 18px;
}

.player {
    font-size: 16px;
}

.logo-grid{
    border: 1px solid #ccc;
    /*width: 100%; /* La imagen ocupará todo el ancho del div */
    /*height: 100%; /* La imagen ocupará todo el alto del div **/
}

.fuchi-logo{
    width: 100%;
    height: 100%;
}

.title{
    background-color: rgb(50, 50, 54);
    justify-content: center;
    align-items: center;
    display: flex; /* Add this line to enable flexbox layout */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
}

.search-bar-container{
    margin: 10px;
    margin-top: 25px;
}

.input-player{
    width: 160px;
    height: 28px;
    font-size: 16px;
    text-indent: 5px;
}